:root {
    --white: #fff;
    --black: #000000;
    --sec: #1f1e1e;
    --third: #717070;
    --fourth: #858484;
    --fifth: #AAA9A9;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

body {
    background-color: #000000;
}

.greeting-modal {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.greeting-modal > h1 {
    color: white;
    font-size: 4rem;
    padding-bottom: 1rem;
}

.open-button {
    font-size: 2rem;
    outline: none;
    border: 1px solid var(--third);
    border-radius: 15px;
    padding: 1rem;
    cursor: pointer;
}

.gift-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    background: no-repeat fixed center;
}

.gift-video {
    width: 65%;
    height: 65%;
    border-radius: 5px;
}
