<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exiviluxi Presentation</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/presentation.css}">
</head>
<body>
    
    <div class="greeting-modal">
        <h1>YOUR GIFT IS READY</h1>
        <button type="button" class="open-button">OPEN</button>
    </div>


    <div class="gift-section" th:style="|background-color: ${pres.backgroundColor}; background-image: url('${pres.backgroundUrl}')|">
        <iframe th:src="|https://www.youtube.com/embed/${pres.videoUrl}|" class="gift-video" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <script th:src="@{/js/presentation.js}"></script>
</body>
</html>